h1 {

    color: black;
    font-size: 50px;
}

.navigation {
    font-size: 22px;
}

.message {
    font-size: 24px;
}

body {
    font-family: Calibri;
    background-color: #E4E4E2;
}
.account {
    text-align: left;
}
.accountTag {
    float: right;
    margin-right: 25px;
}
.message2 {
    font-size: 18px;
}
h2 {
    text-decoration: underline;
    font-size: 40px;
}

.align {
    margin-left: 125px;

}
hr {
    height: 2px;
    background-color: black;
}
p {
    font-size: 20px;
}

p.search {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 5px;
}

table, th, td {
    border: 1px solid black;
    font-size: 20px;
    font-family: Calibri;
    background-color: white;
}

td {
    text-align:center;
}
b {
    text-align:center;
}
h1.homeHeader{
    text-align: center;
}

#content {
    position: relative;
}

.ribbon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 75px;
    margin-left:15px;
    margin-top:15px;
}

.pos {
    font-size: 25px;
    position: absolute;
    top: 210px;
    right: 0px;
    margin-right: 15px;
}
.pos1 {
    font-size: 22px;
    position: absolute;
    top: 265px;
    right: 0px;
    margin-right: 15px;
}
