h1 {
    color: black;
    font-size: 45px;
}

h2 {
    text-decoration: underline;
}

hr {
    height: 2px;
    background-color: black;
}
p {
    font-family: Calibri;
    font-size: 15px;
}

p.search {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 5px;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align:center;
}
b {
    text-align:center;
}
h1.homeHeader{
    text-align: center;
}

#content {
    position: relative;
}

.ribbon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 75px;
    margin-left:15px;
    margin-top:15px;
}
