<h2>Detail Page</h2>
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>
<p><b>Film Title: </b> {{title}}</p>
<p><b>Year: </b> {{year}}</p>
<p><b>Rated: </b> {{link}}</p>
<p><b>Genre: </b> {{genre}}</p>
<p><b>Plot:</b></p>
<p>{{plot}}</p>
<p><b>Movie ID : </b> {{id}}</p>
<!-- These details have been passed along via $routeParams in routes.js, that passes data from another page, to be used in another page -->

<!-- A button when clicked will run a addToFavourites $scope, where it takes the title as a parameter, as it stores within the database. --> 
<p><button  ng-click="addToFavourites(title)">Add to Favourites</button></p>
<!-- A $scope message appears, if it has been added successfully -->
<p> {{message}}</p>