<h2>More Details</h2>
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>
<p>Here you can overview your selection, and store your search in your favourites</p>
<br>
<table style="width:75%">
    <!-- I created a table layout for my map's details page, it uses $routeParams again, as it passes data from one page to another --> 
    <td><p><b>Place ID: </b> {{id}} </p>
    <p><b>Address: </b> {{address}} </p>
    <p><b>Location: </b> {{loc}} </p>
    <p><b>Latitude: </b> {{lat}} </p>
    <p><b>Longtitude</b> {{lng}} </p>
    
    </td>
    <!-- It uses the same addToFavourites $scope function in the same way, but is used in another controller -->
    <td class="start"><p><button ng-click="addToFavourites(address)">Add to Favourites</button></p></td>
    
</table>
<!-- Updates a message when it has been added successfully -->
<p>{{message}}</p>
