<h2>Favourites</h2>
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>
<p class="message">Here, you can view your favourite films here!</p>
<table style="width:50%">
    <tr>
        <th>Details</th>
        <th>Action:</th>
    </tr>
    <!-- The data that is stored in localStorage of each favourite, when you look at the favourites page, it takes it out of localStorage, and splits itself into
    the different rows, with each film/map title in each row -->
    <tr ng-repeat="film in films">
        <td>{{film}}</td><td><a ng-click="delete(film)" href="">remove</a></td>
    </tr>
    <!-- It takes a ng-click directive, where it runs a $scope.delete function, where it deletes that individual element. -->
</table>
<br>
<button ng-click="clearList()">Clear Favourites</button>
<!-- Then I added a button that runs a $scope.clearList function, where it deletes all of the favourites. -->