<h2>Film Search</h2>
<p>{{ greeting }}</p>

<p><input type="text" ng-model="filmTerm" ng-keydown="filmSearch($event)" autofocus></p>

<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Thumbnail</th>
        <th>More Info</th>
    </tr>
    <tr ng-repeat="film in films">
        <p>{{ searched }}<b>{{ sfilm }}</b></p>
        <td>{{film.title}} ({{film.year}})</td><td>{{film.genre}}</td><td> {{film.description}}</td><td><img ng-src="{{film.poster}}"/></td><td><a href="#details/{{film.title}}/{{film.plot}}/{{film.rated}}/{{film.time}}/{{film.rating}}/{{film.id}}">View</a></td>
    </tr>
</table>

