<h2>Film Search</h2>
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>
<p class="message">{{ greeting }}</p>

<p><input type="text" ng-model="filmTerm" ng-keydown="filmSearch($event)" autofocus></p>

<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Thumbnail</th>
        <th>More Info</th>
    </tr>
    <!-- Here, when the third-party data is sent to the API then onto the client, I use a for each item loop, where it will create a row for every result it comes back with -->
    <!-- Here it takes the certain elements coming from my map function in my API, and I take elements from that map that I want. So I have used the title, year, genre,
    description and the poster -->
    <tr ng-repeat="film in films">
        <p>{{ searched }}<b>{{ sfilm }}</b></p>
        <!-- Here I have a nice feature that when the user enters on the search, it says 'Searched for ' and then the search query that was searched -->
        <td>{{film.title}} ({{film.year}})</td><td>{{film.genre}}</td><td> {{film.description}}</td><td><img ng-src="{{film.poster}}"/></td><td><a href="#details/{{film.title}}/{{film.year}}/{{film.plot}}/{{film.rating}}/{{film.genre}}/{{film.id}}">View</a></td>
        <!-- I have a more info button that goes to the details page. I want it to pass the data I want onto the details page. I am simply reusing the data I get from the result onto another page -->
        <!-- If I didn't do this, I would have to send another $http request to my API, but I won't know what the user has queried. -->
    </tr>
</table>

