<h2>Home Page</h2>
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>
<p class="message"><b>{{message}}</b></p>
<p class="message2">Use the navigation links to search for Films & Addresses</p>

<!-- Here I have a home page, which I think is better to have rather than just using the base index.html page.

