<h2>Map Search</h2>
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>
<p class="message"> {{ greeting }}</p>
<p><input type="text" ng-model="mapTerm" ng-keydown="mapSearch($event)" autofocus></p>

<table style="width:100%">
    <tr>
        <!-- Here I have created a table with headings labelled out above each record that comes back -->
        <th>Place ID</th>
        <th>Address</th>
        <th>Location</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Action:</th>
    </tr>
    <!-- This is exactly the same as my film search. Once it receives data from my third party api, it will split each result up in its own row. -->
    <!-- It passes the Place ID, address, location type, the latitude and longitude of the result -->
    <tr ng-repeat="map in maps">
        <p> {{ searched }} <b> {{ smap }}</b></p>
        <!-- Here I have a nice feature that when the user enters on the search, it says 'Searched for ' and then the search query that was searched -->
        <td>{{map.Place_ID}}</td><td>{{map.Address}}</td><td>{{map.Location_Type}}</td><td>{{map.Lat}}</td><td>{{map.Lng}}</td><td><a href="#detailsMap/{{map.Place_ID}}/{{map.Address}}/{{map.Location_Type}}/{{map.Lat}}/{{map.Lng}}">More Actions >>></a></td>
        <!-- I have a more info button that goes to the details page. I want it to pass the data I want onto the details page. I am simply reusing the data I get from the result onto another page -->
        <!-- If I didn't do this, I would have to send another $http request to my API, but I won't know what the user has queried. -->
    </tr>
</table>
