<h2>Map Search</h2>
<p> {{ greeting }}</p>
<p><input type="text" ng-model="mapTerm" ng-keydown="mapSearch($event)" autofocus></p>

<table style="width:100%">
    <tr>
        <th>Place ID</th>
        <th>Address</th>
        <th>Location</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Action:</th>
    </tr>
    <tr ng-repeat="map in maps">
        <p> {{ searched }} <b> {{ smap }}</b></p>
        <!-- This doesn't work... :S -->
        <td>{{map.Place_ID}}</td><td>{{map.Address}}</td><td>{{map.Location_Type}}</td><td>{{map.Lat}}</td><td>{{map.Lng}}</td><td><a href="#detailsMap/{{map.Place_ID}}/{{map.Address}}/{{map.Location_Type}}/{{map.Lat}}/{{map.Lng}}">More Actions >>></a></td>
        
    </tr>
</table>
