<h2>Register</h2>
<div class="content">
    <!-- This will contain an updated text message, whether the user is logged in or not -->
    <b><p class="pos">{{test}}</p></b>
    <!-- Clicking this button will refresh the page. For some reason it changes the login message to 'Not logged In' -->
    <a class="pos1" href="#accounts" onclick="window.location.reload()">{{logout}}</a>
</div>


<p>Create your account below:</p>
<!-- Here are the username and password fields. Whatever the user types in, will be equal to the $scope model of user and pass. This is used to check if the account exists etc -->
<p>Username: <input type="text" ng-model="user"></p>
<p>Password: <input type="password" ng-model="pass"></p>
<!-- If an error occurs, the error $scope will be equal to 'Error ', then the message afterwards. If the account has been set up successfully, the message will update saying
Account created! -->

<p><b>{{error}}</b>{{message}}</p>
<!-- Here I have the button to check both fields, and register the user up. -->
<p class="align"><button ng-click="register()">Sign Up</button></p>

